<div class="remote-entry">
    <star-paper>
        <h2>PORTFOLIO</h2>
        <p>This is a remote micro app loaded with Module Federation.</p>
        <!-- TODO re-use star-rates-table layout -->
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Balance</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1-1-2020</td>
                    <td>0.12345 BTC</td>
                    <td>€20000,00</td>
                </tr>
                <tr>
                    <td>1-1-2015</td>
                    <td>0.12345 BTC</td>
                    <td>€200,00</td>
                </tr>
                <tr>
                    <td>1-1-2012</td>
                    <td>0.12345 BTC</td>
                    <td>€2,00</td>
                </tr>
            </tbody>
        </table>
    </star-paper>
</div>
