<star-app-template [title]="title">
  <star-paper
    ><h2>Exchange rates</h2>
    <div>
      <div>
        <star-loading-button
          label="get new exchange rate"
          [loading]="loading"
          (click)="getRate()"
        ></star-loading-button>
      </div>

      <h3>Exchange rates</h3>
      <star-rates-table [rates]="rates"></star-rates-table></div
  ></star-paper>

  <star-paper>
    <p style="margin-top: 0">
      A reference example monorepo with Nx + Storybook + Atomic Design in
      Angular
    </p>
    <h4>Made by <a href="http://code-star.github.io">Codestar</a></h4>
  </star-paper>
</star-app-template>
