<div class="root">
  <nav>
    <button title="home">
      <svg viewBox="0 0 24 24">
        <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"></path>
      </svg>
    </button>
    <button title="code">
      <svg viewBox="0 0 24 24">
        <path
          d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"
        ></path>
      </svg>
    </button>
    <button title="star">
      <svg viewBox="0 0 24 24">
        <path
          d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zm4.24 16L12 15.45 7.77 18l1.12-4.81-3.73-3.23 4.92-.42L12 5l1.92 4.53 4.92.42-3.73 3.23L16.23 18z"
        ></path>
      </svg>
    </button>
  </nav>
  <div class="root-column">
    <header>
      <h1>{{ title }}</h1>
    </header>
    <main>
      <star-paper
        ><h2>Exchange rates</h2>
        <div>
          <div>
            <star-loading-button
              label="get new exchange rate"
              [loading]="loading"
              (click)="getRate()"
            ></star-loading-button>
          </div>

          <h3>Exchange rates</h3>
          <star-rates-table [rates]="rates"></star-rates-table></div
      ></star-paper>

      <star-paper>
        <p style="margin-top: 0">
          A reference example monorepo with Nx + Storybook + Atomic Design in
          Angular
        </p>
        <h4>Made by <a href="http://code-star.github.io">Codestar</a></h4>
      </star-paper>
    </main>
  </div>
</div>
