<star-app-template [title]="title">
  <star-paper
    ><h2>Exchange rates</h2>
    <div>
      <div>
        <star-loading-button [loading]="loading" (click)="getRate()"
          >get new exchange rate</star-loading-button
        >
      </div>

      <h3>Exchange rates</h3>
      <star-rates-table [rates]="rates"></star-rates-table>
    </div>
    <div
      *ngFor="let logItem of messageService.logs | bySeverity: 'error'"
      style="color: red"
    >
      <star-alert [item]="logItem"></star-alert>
    </div>
    <div
      *ngFor="let logItem of messageService.logs | bySeverity: 'info'"
      style="color: blue"
    >
      <star-alert [item]="logItem"></star-alert>
    </div>
  </star-paper>

  <star-paper>
    <p style="margin-top: 0">
      A reference example monorepo with Nx + Storybook + Atomic Design in
      Angular
    </p>
    <h4>Made by <a href="http://code-star.github.io">Codestar</a></h4>
  </star-paper>
</star-app-template>
